header {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  padding: 1rem 3rem;
  position: fixed;
  z-index: 500;
  top: 0;
  width: 100%;

  .site-title {
    color: #6c63ff;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  app-nav {
    flex-grow: 1;
  }
}
