@import "~normalize.css";

body, html {
  font-family: 'Amaranth', sans-serif;
  font-size: 16px;
  height: 100%;
  width: 100%;
}

.section-container {
  padding: 1rem 2rem;
}

.section--odd {
  background-color: #fafafa;
}
