ul {
  display: flex;
  justify-content: flex-end;
  padding: .5rem 0;
  margin: 0;
  list-style-type: none;

  li {
    margin-left: 3rem;

    &:first-child {
      @media only screen and (max-width: 500px) {
        margin-left: 0;
      }
    }

    a {
      color: #fff;
      text-decoration: none;
    }
  }
}
